---
layout: handbook-page-toc
title: "KPI Index"
---

## On this page
{:.no_toc .hidden-md .hidden-lg} 

- TOC
{:toc .hidden-md .hidden-lg}

## Updating

1. This page is the list of [KPIs](/handbook/ceo/kpis/) and links to the definitions in the handbook.
1. In order to maintain a [SSOT](/handbook/handbook-usage/#style-guide-and-information-architecture), KPI definitions live only in the functional section in the handbook, as close to the work as possible. So define performance indicators in the relevant page (for example the adoption page that also contains how the team works and has relevant videos) instead of a (K)PI page.
1. The Data Team is responsible for maintaining this page.
1. If a KPI is not defined or is being updated, create a MR to propose or update a definition and ask the appropriate business stakeholder to review and merge.
1. If you remove, add, or change the essence of a KPI, the merge request needs to be approved by the function head and the CEO. Last person approving should merge the MR.
1. Tag the CFO; function head; Manager, Data; and Manager, FP&A in the MR for visibility into downstream changes that may need to occur.
1. Once the MR is merged, the author makes an announcement on the Company Call, along with the link to the Merge Request.
1. FP&A will add an * for the definition change to the Investor Metrics along with a link to the Merge Request that describes the change.
1. If the KPI being changed is one of the following, the CFO will need to notify investors and any relevant external parties:

    - [Net Retention](/handbook/customer-success/vision/#retention-and-reasons-for-churn)
    - [Gross Retention](/handbook/customer-success/vision/#retention-and-reasons-for-churn)
    - [ARR](/handbook/sales/#annual-recurring-revenue-arr)

## Working with the Data Team

Please see [the Data Team Handbook](/handbook/business-ops/data-team/).

## Legend 

📊 indicates that the KPI is operational and is embedded in the handbook next to the definition and shown publicly (can be Sisense or another system).

🔗 indicates that the KPI is operational and there is a link from the handbook to Sisense, GitLab, Bitergia, Grafana, or another system.

🚧 can be used to indicate that the KPI is in a `WIP: work in progress` status estimated to be shipped within the month. When using this indicator, an issue should also be linked from this page.

🐔 indicates that the KPI has been acknowledged by the data team but is unlikely to be operationalized in the next month (like the construction indicator does)

### Progress

The Data team is continuously working to make sure there's full coverage on all KPIs. KPI must be [fully defined](/handbook/ceo/kpis/#parts-of-a-kpi) with the data source available in the Data warehouse to be prioritized.

<iframe class="dashboard-embed" src="https://app.periscopedata.com/shared/5890b9a4-8608-4a82-a23d-635af1ad0529?embed=true" height="700"> </iframe>


### Discussion about page improvements
<iframe width="560" height="315" src="https://www.youtube.com/embed/R1F-Iup-5Tc" frameborder="0" allow="autoplay; encrypted-media;" allowfullscreen></iframe>

## GitLab KPIs

GitLab KPIs are duplicates of goals of the reports further down this page.  
GitLab KPIs are the most important indicators of company performance, and the most important KPI is IACV.

1. [IACV](/handbook/sales/#incremental-annual-contract-value-iacv) vs. plan > 1  🔗 (lagging)
1. [Capital Consumption](/handbook/finance/accounting/#capital-consumption) < Plan 🔗 (lagging)
1. [Sales efficiency](/handbook/sales/#sales-efficiency-ratio) > 1 📊 (lagging)
1. [Net New Business Pipeline Created ($s)](/handbook/marketing/revenue-marketing/#revenue-marketing-kpi-definitions) v Plan > 1  📊 (leading for IACV)
1. [Wider community merged MRs per release](/handbook/marketing/community-relations/code-contributor-program/#wider-community-contributions-per-milestone) 📊 (lagging)
1. [LTV / CAC](/handbook/sales/#ltv-to-cac-ratio) ratio > 4 (lagging)
1. [Interviewee Satisfaction (ISAT)](/handbook/hiring/metrics/#interviewee-satisfaction-isat) > 4.1 📊 (lagging)
1. [Hires vs. plan](/handbook/hiring/metrics/#hires-vs-plan) > 0.9 📊 (leading for productivity)
1. [12 month team member retention](/handbook/people-group/people-group-metrics/#team-member-retention) > 84% [🚧](https://gitlab.com/gitlab-data/analytics/-/issues/3840) (lagging)
1. [Merge Requests per release per engineer in product development](/handbook/engineering/development/performance-indicators/#average-mrs-development-engineers-month) > 10 📊 (lagging)
1. [GitLab.com Availability](/handbook/engineering/infrastructure/performance-indicators/#gitlab-com-availability) > 99.95% (lagging)
1. [SMAU](/handbook/product/metrics/#stage-monthly-active-user) 🚧 [Issue](https://gitlab.com/groups/gitlab-org/-/epics/2354) (lagging)
1. [Support Satisfaction](/handbook/support/performance-indicators/#support-satisfaction-ssat) 📊 (lagging)
1. [Runway](/handbook/finance/accounting/#cash-burn-average-cash-burn-and-runway) > 12 🔗 (lagging)
1. [Product Downloads](/handbook/alliances/#product-download-by-distribution-method) 📊 (leading for usage)
1. [MAUI](http://www.meltano.com/docs/roadmap.html#maui) (Meltano so not part of the GitLab Executive Team KPIs) > 10% WoW

## Sales KPIs

1. [IACV](/handbook/sales/#incremental-annual-contract-value-iacv) vs. plan > 1 🔗
1. [Field efficiency ratio](/handbook/sales/#field-efficiency-ratio) > 2 📊
1. [Sales efficiency](/handbook/sales/#sales-efficiency-ratio) > 1.0 📊
1. [TCV](/handbook/sales/#total-contract-value-tcv) vs. plan > 1 🔗
1. [ARR](/handbook/sales/#annual-recurring-revenue-arr) YoY > 190% 🔗
1. [Win rate](/handbook/sales/#win-rate) > 30% 📊
1. % of ramped reps at or above quota > 70%
1. % of ramping reps (< 1 year) at or above 70% of quota > 80%
1. [Net Retention](/handbook/customer-success/vision/#retention-and-reasons-for-churn) > 180%  🔗
1. [Gross Retention](/handbook/customer-success/vision/#retention-and-reasons-for-churn) > 90% 🔗
1. Rep [IACV  per comp](/handbook/sales/#measuring-sales-rep-productivity) > 5
1. [ProServe](/handbook/sales/#pcv) revenue vs. cost > 1.1 📊
1. [Services attach rate for strategic](/handbook/customer-success/professional-services-engineering/#services-attach-rate-for-large-accounts) > 80% 📊
1. [Self-serve sales ratio](/handbook/sales/#self-serve-sales-ratio) > 30% 📊
1. [Licensed users](/handbook/sales/#licensed-users) 📊
1. [ARPU](/handbook/sales/#revenue-per-licensed-user-also-known-as-arpu) 🔗
1. [Active SMAU](/handbook/product/metrics/#stage-monthly-active-users-smau) for Paying Customers
1. [New hire location factor](/handbook/hiring/metrics/#new-hire-location-factor) < 0.72 📊


## Marketing KPIs

1.	[Net New Business Pipeline Created ($s)](/handbook/marketing/revenue-marketing/#revenue-marketing-kpi-definitions) v Plan > 1  📊
1.	[Pipe-to-spend per marketing activity](/handbook/marketing/revenue-marketing/#revenue-marketing-kpi-definitions) > 5
1.	Marketing efficiency ratio > 2
1.	[Opportunities per XDR per month created](/handbook/marketing/revenue-marketing/#revenue-marketing-kpi-definitions)
1.	[LTV / CAC](/handbook/sales/#ltv-to-cac-ratio) > 4
1.  [Social Media Followers](/handbook/marketing/corporate-marketing/social-marketing/)
1.  [New Unique Web Visitors (about.gitlab.com)](/handbook/marketing/revenue-marketing/digital-marketing-programs/#digital-marketing-kpis)
1.	[Total Web Sessions (about.gitlab.com)](/handbook/marketing/revenue-marketing/digital-marketing-programs/#digital-marketing-kpis)
1.	[Meetups per month](/handbook/marketing/community-relations/evangelist-program/#gitlab-meetups-per-month-kpi-definition) 📊
1.  [Wider Community merged MRs per release](/handbook/marketing/community-relations/code-contributor-program/#wider-community-contributions-per-milestone) 📊
1.	[Community Channel Response Time](/handbook/marketing/community-relations/community-advocacy/#social-response-time-kpi-definition)
1.	[New hire location factor](/handbook/hiring/metrics/#new-hire-location-factor) < 0.72 📊
1.	[Pipeline coverage: 2X for current quarter, 1X for next quarter, and .5 for 2 QTRs out](/handbook/sales/#pipeline-coverage-ratio)
1.	[Total # of MQLs by month](/handbook/marketing/revenue-marketing/#revenue-marketing-kpi-definitions) 📊
1.	[Lead follow-up response time](/handbook/marketing/revenue-marketing/#revenue-marketing-kpi-definitions)
1.	Qty. of Case Studies published per month
1.  Larger SOV compared to most published competitor
1.  Growth in amount of partnership focused media coverage
1.  Growth in amount of remote work focused media coverage
1. [Product Downloads](/handbook/alliances/#product-download-by-distribution-method) 📊

## People Group KPIs

1. [Hires vs. plan](/handbook/hiring/metrics/#hires-vs-plan) > 0.9 📊
1. [Time to Offer Accept (Days)](/handbook/hiring/metrics/#time-to-offer-accept-days) < 45 📊
1. [Offer acceptance rate](/handbook/hiring/metrics/#offer-acceptance-rate) > 0.9 📊
1. [Interviewee Satisfaction (ISAT)](/handbook/hiring/metrics/#interviewee-satisfaction-isat) > 4.1 📊
1. [Average location factor](/handbook/people-group/people-group-metrics/#average-location-factor) < 0.65 📊
1. [Percent of team members over compensation band](/handbook/people-group/people-group-metrics/#percent-over-compensation-band) <= 1%
1. [New hire location factor](/handbook/hiring/metrics/#new-hire-location-factor) < 0.72 📊
1. [12 month team member retention](/handbook/people-group/people-group-metrics/#team-member-retention) > 84%
1. [12 month voluntary team member turnover](/handbook/people-group/people-group-metrics/#team-member-voluntary-turnover) < 10% 📊
1. [Candidates Sourced by Recruiting Department versus Candidates Hired](/handbook/hiring/metrics/#candidates-sourced-by-recruiting-department-vs-candidates-hired) > 0.28
1. [Onboarding Satisfaction (OSAT)](/handbook/people-group/people-group-metrics/#onboarding-satisfaction-osat) > 4 📊
1. [Diversity lifecycle: applications, recruited, interviews, offers, acceptance, retention](/company/culture/inclusion/#performance-indicators)
1. [Spend per team member](/handbook/people-group/people-group-metrics/#spend-per-team-member)
1. [Discretionary bonuses](/handbook/incentives/#discretionary-bonuses) per team member per month > 0.1 📊
1. [Percent of sent Slack messages that are not DMs](/handbook/communication/#why-we-track--of-messages-that-are-not-dms) > 50% 📊
1. [Cost Per Hire](/handbook/hiring/metrics/#cost-per-hire) 🔗

### Recruiting Department KPIs

<%= kpi_list_by_org("Recruiting") %>

## Finance KPIs

### Corporate Financial KPIs

<%= kpi_list_by_org("Corporate Finance") %>

### Finance Team KPIs

1. [Average days to close](/handbook/finance/accounting/#average-days-to-close-kpi-definition) < 10 📊
1. [New hire location factor](/handbook/hiring/metrics/#new-hire-location-factor) < 0.69 📊
1. [Scalable Employment Solution](/handbook/tax/performance-indicators/#international-expansion) >99%
1. [Deliver Quantified Savings of](/handbook/finance/procurement/#procuremet-kpi) > > $3,000,000 over a rolling 12 month period

## Product KPIs

1. [Direct signup ARR growth rate](/direction/acquisition/#overview)🔗 (Growth - Acquisition)
1. [Free to paid ARR growth rate](/direction/conversion/#overview)  🔗 (Growth - Conversion)
1. [Net retention](/handbook/customer-success/vision/#retention-and-reasons-for-churn) > 180%  🔗 (Growth - Expansion)
1. [Gross retention](/handbook/customer-success/vision/#retention-and-reasons-for-churn) > 90%  🔗 (Growth - Retention)
1. [Paid Net Promoter Score (PNPS)](/handbook/product/metrics/#paid-net-promoter-score) > 40
1. [Average stages per user](/handbook/product/metrics/#average-stages-per-user)
1. [New hire location factor](/handbook/hiring/metrics/#new-hire-location-factor) < 0.72 📊
1. [Category maturity achievement](/handbook/product/metrics/#category-maturity-achievement) > 70% achievement per quarter
1. [Refunds processed as % of orders](/handbook/support/workflows/verify_subscription_plan.html#refunds-processed-as--of-orders) 🔗
1. [MAU](/handbook/product/metrics/#monthly-active-users-mau) [🚧](https://gitlab.com/gitlab-data/analytics/-/issues/3841)
1. [SMAU](/handbook/product/metrics/#stage-monthly-active-users-smau) [🚧](https://gitlab.com/gitlab-data/analytics/-/issues/3840)
1. [Active Hosts](/handbook/product/metrics/#active-hosts)📊

## Product Strategy KPIs

1. [Acquisition velocity](/handbook/acquisitions/performance-indicators/#acquisition-velocity) > 10 per year
1. [Acquisition success](/handbook/acquisitions/performance-indicators/#acquisition-success) > 70%
1. [Qualified acquisition targets](/handbook/acquisitions/performance-indicators/#qualified-acquisition-targets) > 1000 per year
1. [New hire location factor](/handbook/hiring/metrics/#new-hire-location-factor) < 0.7 📊

## Engineering KPIs

<%= kpi_list_by_org("Engineering Function") %>

### Development Department KPIs

<%= kpi_list_by_org("Development Department") %>

### Infrastructure Department KPIs

<%= kpi_list_by_org("Infrastructure Department") %>

### Quality Department KPIs

<%= kpi_list_by_org("Quality Department") %>

### Security Department KPIs

<%= kpi_list_by_org("Security Department") %>

### Support Department KPIs

<%= kpi_list_by_org("Support Department") %>

### UX Department KPIs

<%= kpi_list_by_org("UX Department") %>

## GitLab Metrics

We share a spreadsheet with investors called "GitLab Metrics."
The GitLab Metrics Sheet should be a subset of the KPIs listed on this page.
Alternatively, the sheet may show variations or subsets of one of those KPIs, such as showing all licensed users and then licensed users by product.

## Satisfaction

We do satisfaction scope on a scale of 1 to 5 how satisfied people are with the experience.
We don’t use NPS since that cuts off certain scores and we want to preserve fidelity.
We have the following abbreviation letter before SAT, please don’t use SAT without letter before to specify it:

- C = unused since customer is ambiguous (can mean product or support, not all users are customers)
- E = unused since employee is used by other companies but not by us
- I = [Interviewee](/handbook/hiring/metrics/#interviewee-satisfaction-isat) (would you recommend applying here)
- L = [Leadership](/handbook/eba/#leadership-sat-survey) (as an executive with dedicated administrative support, how is your executive administrative support received)
- O = [Onboarding](/handbook/people-group/people-operations-metrics/#onboarding-tsat) (how was your onboarding experience)
- P = [Product](/handbook/product/metrics/#paid-net-promoter-score) (would you recommend GitLab the product)
- S = [Support](/handbook/support/#support-satisfaction-ssat) (would you recommend our support followup)
- T = Team-members (would you recommend working here)

## Retention

Since we track retention in a lot of ways, we should never refer to just "Retention" without indicating what kind of retention.
We track:

* [Net Retention](/handbook/customer-success/vision/#retention-and-reasons-for-churn)
* [Gross Retention](/handbook/customer-success/vision/#retention-and-reasons-for-churn)
* User Retention
* [Team Member Retention](/handbook/people-group/people-group-metrics/#team-member-retention)
